@import "~bootstrap/dist/css/bootstrap.min.css";

body {
  background-color: #28a745;
  font-family: Arial, sans-serif;
}

.card {
  width: 210px; /* Ancho de la carta */
  height: 300px; /* Altura de la carta */
  border: 1px solid #000;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 5rem; /* Tamaño de fuente del valor central */
  margin: 20px auto;
  background-color: white;
  position: relative;
}

.card::before,
.card::after {
  content: "";
  position: absolute;
  font-size: 4rem; /* Tamaño de fuente de los símbolos */
}

.card::before {
  top: -5px; /* Ajusta el margen superior */
  left: 5px;
}

.card::after {
  bottom: -5px; /* Ajusta el margen inferior */
  right: 5px;
  transform: rotate(180deg);
}

.heart,
.diamond {
  color: red;
}

.spade,
.club {
  color: black;
}

.btn {
  width: 45%; /* Ancho del botón */
}
